ion-content {
    --background: none;
    background-image: url('/assets/pf_img2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
    img {
        height: 25vh;
        width: 25vh;
        margin: auto;
        margin-top: 20%;
        display: block;
        // display: inline-block;
    }
    form {
        div {
            ion-card {
                background-color: white;
                border-radius: 5px;
                // margin: 0px;
                margin-top: 20%;
                padding: 0px;
            }
        }
    }
}

