<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Recevie Purchase Order Request' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>
<!-- <ion-content>

  <ion-item lines="none">


    <ion-grid text-center>
      <ion-row>
        <ion-col>
          Code
        </ion-col>
        <ion-col>
          Date
        </ion-col>
        <ion-col>
          Status
        </ion-col>
        <ion-col>
          Accepted <br> Or <br> Rejected
        </ion-col>
        <ion-col>
          Total Price
        </ion-col>
        <ion-col>
          Action
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div *ngFor="let list of data">
    <ion-item>


      <ion-grid>
        <ion-row>
          <ion-col>
           
          </ion-col>
          <ion-col>
            {{ list.po_date }}
          </ion-col>
          <ion-col>
            {{ list.status }}
          </ion-col>
          <ion-col>
            {{ list.accepted_or_rejected }}
          </ion-col>
          <ion-col>
            {{ list.total_price }}
          </ion-col>
          <ion-col>
            <ion-button color="primary" (click)="ViewDetails(list.id)">View</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

</ion-content> -->
<div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label class="bold_label" color="secondary">
          From
        </ion-label>

      </ion-col>
      <ion-col size="6">
        <ion-label class="bold_label" color="secondary">
          To
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row_border">
      <ion-col size="6">

        <ion-item lines="none" style="padding: 0px ;">

          <ion-datetime displayFormat="DD-MM-YYYY" placeholder="From Date" [(ngModel)]="FromDate"></ion-datetime>
          <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
        </ion-item>


      </ion-col>

      <ion-col size="6">
        <ion-label></ion-label>
        <ion-item lines="none" style="padding: 0px ;">
          <ion-datetime displayFormat="DD-MM-YYYY" placeholder="To Date" [(ngModel)]="ToDate" (ionChange)="showdate()">
          </ion-datetime>
          <ion-icon class="calendar-icon" name="calendar-outline"></ion-icon>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row class="row_order2">

      <ion-col size="6">
        <ion-label class="bold_label" style="padding: 15px;"> Total Price</ion-label>
        <br>
        <ion-label style="padding: 15px;" color="primary">
          ₹ {{TotalPrice}}
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label style="padding: 15px;" class="bold_label" color="secondary">
          Total Order
        </ion-label>
        <br>
        <ion-label style="padding: 15px;" color="primary">
          {{total_po}}

        </ion-label>

      </ion-col>


    </ion-row>
  </ion-grid>
</div>
<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let list of data">
      <ion-card>
        <ion-item lines="full">
          <ion-label style="margin-top: 10px;">
            <ion-grid>
              <div>
                <ion-row class="row_border" style="text-align: start;">
                  <ion-col style="text-align: start;" size="4">
                    <ion-label class="bold_label" color="secondary">{{ list.code }}</ion-label>
                  </ion-col>
                  <ion-col style="text-align: center;" size="4">




                    <div *ngIf="list.status === 'Open'">
                      <ion-label color="primary"> {{ list.status }}</ion-label>
                    </div>
                    <div *ngIf="list.status === 'Close'">
                      <ion-label color="danger"> {{ list.status }}</ion-label>
                    </div>



                  </ion-col>

                  <ion-col style="text-align: end;" size="4">
                    <div *ngIf="list.accepted_or_rejected === 'Accepted'">
                      <ion-label color="primary"> {{ list.accepted_or_rejected }}</ion-label>
                    </div>
                    <div *ngIf="list.accepted_or_rejected === 'Rejected'">
                      <ion-label color="danger"> {{ list.accepted_or_rejected }}</ion-label>
                    </div>


                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
            <ion-grid>

              <div>


                <ion-row class="row_border" style="text-align: start;">
                  <ion-col style="text-align: start;" size="6">

                    <ion-label color="medium"> {{ list.po_date }}</ion-label>
                  </ion-col>
                  <ion-col style="text-align: end;" size="6">
                    <div *ngIf="list.total_price === null">

                    </div>
                    <div *ngIf="list.total_price != null">
                      <ion-label color="medium"> ₹ {{ list.total_price }}</ion-label>

                    </div>

                  </ion-col>

                </ion-row>
              </div>
            </ion-grid>
            <ion-grid>
              <ion-row style="text-align: center; margin-top: 0px;">
                <ion-col size="12" (click)="ViewDetails(list.id)">
                  <ion-button>
                    <ion-label>View</ion-label>
                  </ion-button>
                  <!-- <ion-icon color="primary" style="width: 30px; height: 30px; align-content: center;"
                    src="assets/sale.svg">
                  </ion-icon> -->
                </ion-col>
                <!-- <ion-col style="align-items: center;" size="6"> -->
                <!-- <ion-icon color="primary" style="width: 30px; height: 30px;" src="assets/bin.svg"></ion-icon> -->
                <!-- </ion-col> -->
              </ion-row>
            </ion-grid>

          </ion-label>

        </ion-item>
      </ion-card>

    </div>
  </ion-list>





</ion-content>